@import url('https://fonts.googleapis.com/css?family=Cardo:400,700|Source+Sans+Pro:300,400&display=swap');

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    background: #efefef;
    background: url("https://res.cloudinary.com/djnuizv5k/image/upload/v1572974369/bg_ijbn30.jpg") center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.error {
  color: #e5e5e4;
  display: none!important;
}

input {
  font-family: 'Source Sans Pro', sans-serif;
  padding: 18px;
  margin: 5px;
  width: 350px;
  font-size: 16px;
  border-width: 1px;
  border-style:solid;
  border-color: #e5e5e4;
  border-image: initial;
}

li {
  list-style: none;
}
.cursorPtr {
  cursor: pointer;
}
.dn {
  display: none;
}

.padB10 {
  padding-bottom: 10px;
}
.marginT10 {
  margin-top: 10px;
}
.marginB20 {
  margin-bottom: 20px;
}
.btn {
  width: 390px;
  padding: 11px 20px;
  color: #fff;
  background: #11939a;
}
.btn:hover {
  background: #107c82;
  cursor: pointer;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
  
}
button:active {
  outline: none;
  border: none;
}

.fs20 {
  font-size: 40px;
  color: #fff
}
.fb {
  font-weight: bold;
}
input:focus {
  outline: none !important;
}
.d-inbl {
  display: inline-block;
}
.padL10  {
  padding-left: 10px;
}
.marginT40 {
  margin-top: 40px;
}
.textCenter {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.margin20 {
  margin: 20px;
}
.marginT10 {
  margin-top: 10px;
}
.padT5 {
  padding-top: 5px;
}
.padT10 {
  padding-top: 5px;
}
.padL10 {
  padding-left: 10px;
}
.marginT5 {
  margin-top: 5px;
}
.marginTB40 {
  margin: 40px 0;
}
.marginT30 {
  margin-top: 30px;
}
.marginT20 {
  margin-top: 20px;
}
.txtLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-evenly;
}
.padT10 {
  padding-top: 10px;
}
.activeTab {
  background: #4cb5f3;
  border-radius: 10px;
}
.tab {
  font-size: 30px;
  color: #fff;
  padding: 5px 25px;
}

.inputContent {
background-color:#f8f8f9;
border: solid 1px #e5e5e4;
padding:32px
}

.contactSummary {
  max-width: 90%;
}
table, th, td {
  border-width: 1px;
  border-style:solid;
  border-color: #e5e5e4;
  border-collapse: collapse;
}
th, td {
  padding: 10px;
  min-width: 150px;
  text-align: left;    
}
tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}
tbody tr:nth-child(even) {
  background-color: #ffffff;
}

th {
  background-color: #fff;
}

/*#summaryTable {
  display:none;
}*/